.navbar
{
    display: flex;
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.7) !important;
    margin-bottom: 20px;
}

.jumbotron
{
    background-color: rgba(0, 0, 0, 0.3);;
}
body
{
    color: whitesmoke;
    background-color: rgba(10, 10, 10, 0.9);
}